{% extends "base.html" %}

{% block title %}로그인{% endblock %}

{% block page_content %}

    {%with messages = get_flashed_messages()%}
        {%if messages %}
            <script>
                alert("{{messages[-1]}}");
            </script>
        {%endif%}
    {%endwith%}

    <div class="form-container">
        <form method='post'>
            <div class="form">
                <input placeholder="id" type="id" name="id" type="text">
            </div>
            <div class="form">
                <input placeholder="Password" name="password" type="password">
            </div>
            <input class="form-button" type="submit" value="로그인"/>
        </form>

        <a href="signup">회원가입</a>
    </div>
{% endblock %}


