<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Hello</h1>
<table>
    <tr>
        <td>{{ post.id }}</td>
        <td>작성자: {{ post.user_id }}</td>
        <td>작성 날짜: {{ post.post_date }}</td>
        {% if post.update_date %}
            <td>수정 날짜: {{ post.update_date }}</td>
        {% endif %}
        <td>제목: {{ post.title }}</td>
        <td>내용: {{ post.content }}</td>
        <td>{{ post.category }}</td>
        <td>{{ post.like }}</td>
    </tr>

    <p>comment</p>
    {% for comment in post.comments %}
        <tr>
            <td>{{ comment.id }}</td>
            <td>{{ comment.user_id }}</td>
            <td>{{ comment.post_date }}</td>
            {% if comment.update_date %}
            <td>수정 날짜: {{ comment.update_date }}</td>
        {% endif %}
            <td>{{ comment.content }}</td>
            

        </tr>
    {% endfor %}
</table>